{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.5"}
        io.github.kotoba-lang/yakuwari
        {:git/url "https://github.com/kotoba-lang/yakuwari.git"
         :git/sha "23410f1b70fda6c260f449c4d73c3dacc97a344c"}
        io.github.kotoba-lang/yakuwari-view
        {:git/url "https://github.com/kotoba-lang/yakuwari-view.git"
         :git/sha "a819aff3c52534ded929307d218bdc9efa64d5a4"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}
  :dev {:override-deps
        {io.github.kotoba-lang/yakuwari {:local/root "../../kotoba-lang/yakuwari"}
         io.github.kotoba-lang/yakuwari-view {:local/root "../../kotoba-lang/yakuwari-view"}}}}}
