{:paths ["src" "test" "bin"]
 :deps {io.github.kotoba-lang/yakuwari      {:local/root "../../kotoba-lang/yakuwari"}
        io.github.kotoba-lang/yakuwari-view {:local/root "../../kotoba-lang/yakuwari-view"}}}
