;; Append-only index of completed local coding proposals.
#:proposal{:head "8a0653f3d0008e5bba6d4466018a965c049c226a", :status :failed, :branch "awai/cloud-itonami-sales-1786860317053", :role :cloud-itonami/sales, :worktree "/Users/junkawasaki/.cloud-itonami/awai-worktrees/awai/cloud-itonami-sales-1786860317053", :version 1, :run "run-1786860319229-340e8007", :base "8a0653f3d0008e5bba6d4466018a965c049c226a", :disposition :retained-dirty-worktree, :observed-at "2026-08-16T06:15:52.384Z", :source "/Users/junkawasaki/github/com-junkawasaki/orgs/network-awai/cloud-itonami"}
#:proposal{:head "8a0653f3d0008e5bba6d4466018a965c049c226a", :status :failed, :branch "awai/cloud-itonami-supporter-1786860512931", :role :cloud-itonami/supporter, :worktree "/Users/junkawasaki/.cloud-itonami/awai-worktrees/awai/cloud-itonami-supporter-1786860512931", :version 1, :run "run-1786860518430-6c49947a", :base "8a0653f3d0008e5bba6d4466018a965c049c226a", :disposition :retained-dirty-worktree, :observed-at "2026-08-16T06:15:52.523Z", :source "/Users/junkawasaki/github/com-junkawasaki/orgs/network-awai/cloud-itonami"}
#:proposal{:head "9795e07dc5471bc715442b735cc38a35f63957d7", :status :succeeded, :branch "awai/club-shinshi-supporter-1786863071174", :role :club-shinshi/supporter, :worktree "/Users/junkawasaki/.cloud-itonami/awai-worktrees/awai/club-shinshi-supporter-1786863071174", :version 1, :run "run-1786863071904-e0c1989f", :base "71657bad4e98928933ced246c33ab6cdd4b9daa4", :disposition :preserved-branch, :observed-at "2026-08-19T06:37:16.899Z", :source "/Users/junkawasaki/github/com-junkawasaki/orgs/network-awai/club-shinshi"}
#:proposal{:head "73edd9ccb7dd7b195643a88e21fd6dc0f95daed4", :status :succeeded, :branch "awai/net-babiniku-director-1786863528402", :role :net-babiniku/director, :worktree "/Users/junkawasaki/.cloud-itonami/awai-worktrees/awai/net-babiniku-director-1786863528402", :version 1, :run "run-1786863536478-de7b160f", :base "1124c9d3aeeddbe817ef8478c69e04f3d2a9cae0", :disposition :preserved-branch, :observed-at "2026-08-19T06:37:17.018Z", :source "/Users/junkawasaki/github/com-junkawasaki/orgs/network-awai/net-babiniku"}
